<?php
$store = $block->getStores();
?>
<table>
    <tr>
        <th><?= __('Name'); ?></th>
        <th><?= __('Description'); ?></th>
        <th><?= __('Image'); ?></th>
        <th><?= __('Address'); ?></th>
        <th><?= __('Schedule'); ?></th>
        <th><?= __('Longitude'); ?></th>
        <th><?= __('Latitude'); ?></th>
    </tr>
        <tr>
            <td><?= $store->getName(); ?></td>
            <td><?= $store->getDescription(); ?></td>
            <?php
            if (!is_null($store->getImage()))
            {
                ?>
            <td><img src="<?= $block->getImageUrl() . $store->getImage(); ?>"></td>
            <?php
            } else {
            ?>
            <td><?= __('No image'); }?></td>
            <td><?= $store->getAddress(); ?></td>
            <td><?= $store->getSchedule(); ?></td>
            <td><?= $store->getLongitude(); ?></td>
            <td><?= $store->getLatitude(); ?></td>
        </tr>
</table>

