<table>
    <tr>
        <th><?= __('Name'); ?></th>
        <th><?= __('Description'); ?></th>
        <th><?= __('Image'); ?></th>
        <th><?= __('Address'); ?></th>
        <th><?= __('Schedule'); ?></th>
        <th><?= __('Longitude'); ?></th>
        <th><?= __('Latitude'); ?></th>
    </tr>
    <?php
    $collectionData = $block->getStoresList();
    foreach($collectionData as $collection):
        $url = $collection->getUrlKey();
        ?>
        <tr>
            <td><a href="<?= $block->getStoreUrl(). $url; ?>"><?= $collection->getName(); ?></a></td>
            <td><?= $collection->getDescription(); ?></td>
            <td><?= $collection->getImage(); ?></td>
            <td><?= $collection->getAddress(); ?></td>
            <td><?= $collection->getSchedule(); ?></td>
            <td><?= $collection->getLongitude(); ?></td>
            <td><?= $collection->getLatitude(); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
